body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #444;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* BUTTON */
button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"] {
  background: #4a90e2;
  color: white;
}

button[type="submit"]:hover {
  background: #357bd8;
}

/* CARD */
.card {
  background: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

/* BUTTONS */
.edit-btn {
  background: #f0ad4e;
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background: #e74c3c;
  color: white;
}

.edit-btn:hover {
  background: #e09b3d;
}

.delete-btn:hover {
  background: #d94333;
}








/* Part 2 */
.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}